.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #1abc9c; 
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none; 
  z-index: 9999; 
  transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #1abc9c;
  mix-blend-mode: difference; 
}

/* лапа */
.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #1abc9c;
  color: white;
}


.cursor--hovered {
  width: 60px;
  height: 60px;
  background-color: rgba(26, 188, 156, 0.1);
  border-color: transparent;
}