.locator-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loc-content h3 {
  margin: 0 0 10px 0;
}

.search-row {
  display: flex;
  gap: 10px;
}

.search-row input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
}

.search-row button {
  background: #00b894;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}